  <div class="filters-toggle">
        <div class="filters__values">
            <ul class="no-js">
                <li>
                   <div>
                       <span data-ng-class="{open: open}" data-ng-click="openValues=!openValues" class="filter-button clicker">{{listName}}  <span class="caret"></span></span>
                       <ul class="checkboxdropdown" ng-show="openValues">
                           <li><a data-ng-click="selectAllValues()"><i class="exc-icon-ok-sign"></i>Select All</a></li>
                           <li><a data-ng-click="deselectAllValues()"><i class="exc-icon-remove-sign"></i>Deselect All</a></li>
                           <li class="divider"></li>
                           <li data-ng-repeat="value in values"> <a data-ng-click="setSelectedValues(value)"><span data-ng-class="isCheckedValues(value.value)"></span>{{value.title}}</a></li>
                       </ul>
                        <div ng-show="valuesBusy">
                            <h3>{{loadingMessage}}</h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>